html, body {
    margin: 0;
    overflow: auto;
    height: 100%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* CANVAS AREA */
.tab {
    /*float: right;*/
    width: 950px;
    height: 580px;
    margin: 60px auto;
    background-color: white;
    padding: 20px;
    /*text-align: center;*/
}

.tab #drawingGrid {
    float: right;
}

canvas {
    width: 710px;
    height: 510px;
    margin: 50px 0px 0 -50px;
    display: block;
}

#axisLabel {
    margin: -950px 0 0 -760px;
}

.tab #threshold {
    float: left;
    width: auto;
    max-width: 170px;
    margin: 30px auto 0px 0px;
    padding: 0px 0 45px 0;
}

/* CANVAS CONTROLS */
.graphLabels {
    float: left;
    width: 100px;
    margin: 20px 10px 15px 0;
    font-size: 12px;
    font-weight: bold;
}

.graphValues {
    float: right;
    width: 60px;
    margin: 10px 0px;
}

.threshLabels {
    float: left;
    width: 100px;
    margin: 5px 10px 5px 0;
    font-size: 12px;
    font-weight: bold;
}

.threshValues {
    float: right;
    width: 60px;
    margin: 5px 0px;
}

p {
    margin: 5px 0;
    line-height: 20px;
}

h3 {
    text-align: center;
    margin: -10px 0;
}

h3.thresh {
    margin: 140px 0 0 0;
}

input {
    width: 60px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

button {
    text-align: center;
    font-weight: bold;
}

#changeVals {
    width: 70px;
    height: 25px;
    margin: 0px 0 0 50px;
}

/* TOOL AREA */
.tools {
    position: relative;
    margin-top: 50px;
    display: block;
}

label > input { /* hide radio buttons */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img { /* image style */
    cursor:pointer;
    border:2px outset;
    background-color: #e6e6e6;
}

label > input:checked + img { /* checked image style */
    border:2px inset;
    background-color: #c6c6c6;
}

label > input:active + img { /* onclick image style */
    border:2px inset;
    background-color: #c6c6c6;
}

img {
    width: 15px;
    height: 15px;
    padding: 5px;
}

/* NAVIGATION BAR */
nav {
    overflow: hidden;
    background-color: #19191f;
    position: fixed; /* fixed position */
    top: 0; /* Position at the top of page */
    width: 100%; /* Full width */
    height: 100px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-block;
    margin: 80px auto;
}

nav ul li {
    float: left;
    line-height: 1px;
}

nav img {
    float: left;
    margin: 28px -186px 0 40px; /* removes right-side offset for other content */
    height: 59px;
    width: 186px;
}

nav a {
    display: block;
    width: 60px;
    color: white;
    text-align: center;
    padding: 12px 0px 6px 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

nav a:hover {
    border-top: 6px solid #08ca75;
    padding: 6px 0px 6px 0px;
}

/* FOOTER */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #19191f;
    text-align: center;
} 


.footer img {
    height: 50px;
    width: 108px;
}

/* GENERAL */
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

